html,
body {

    color: #CD1704;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

main {
    margin: 40px;
}

nav,
.sidenav {
    box-shadow: none;
}

img {
    max-width: 100%;
}

.btn {
    background-color: #056B7E;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn:hover {
    background-color: #039B25;
}


/*_____________________________Colour assignments________________________*/
.blue-tint {
    background-color: #056B7E;
}

.blue-tint:hover {
    background-color: #039B25;
}

.red {
    background-color: #CD1704;
}

.orange {
    background-color: #CD6604;
}

.green {
    background-color: #039B25;
}

#pageview {
    color: #056B7E;
}

.back:hover {
    background-color: #CD6604;
}

/*-------------------------------show and hide of sections in add and edit recipes----------------*/
.hidden {
    display: none;
}

.visible {
    display: block;
}

/*-------------------------------------header---------------------------------------------*/
nav {
    background-color: transparent;
}

#cc-logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

#tagline {
    font-size: 20px;
}

@media (max-width: 1015px) {
    #tagline {
        visibility: hidden;
    }
}

@media (max-width: 704px) {
    #cc-title {
        visibility: hidden;
    }
}

#cc-title {
    font-style: Bold Italic;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
}

.menu-view,
.sidenav {
    background-color: #056B7E;
    color: whitesmoke;
}

.sidenav li>a {
    color: whitesmoke;
}

#hamburger,
#cc-title,
#tagline {
    color: #CD1704;
}

/* ---------------------------------Recipes view page (recipe.html)-------------------------*/

.recipe-view {
    border: solid 1px #CD6604;
    padding-left: 10px;
    padding-top: 5px;
    margin-right: -5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.ing-and-met {
    margin-right: 5px;
}

.material-tooltip {
    background-color: #056B7E;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*-------------------------------Recipe review add and edit recipes------------------*/

.recipe-review {
    border: solid 1px #CD6604;
    padding-left: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 0px;
    margin-right: 0;
}

#edit_preview,
#img-view {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#dpl-i {
    margin-left: 10px;
}

/*-------------------------------------search field--------------------*/
#search-form {
    background-color: #056B7E;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*------------------------------footer--------------------*/

.page-footer {
    background-color: #039B25;
    padding-top: 0;
}

.fa-github {
    font-size: 40px;
}