{% extends 'base.html' %} {% block content %}
<div class="new_recipe">
    <h3>add recipe</h3>
    <div class="row">
        <form action="" method="POST" enctype='multipart/form-data' class="col s12">
            <div class="input-field col s12 m6">
                <select id="category" name="category_name" class="icons ">
                    <option value="" disabled selected>Choose your Category</option>
                    {% for cat in categories %}
                    <option value="" data-icon="{{cat.image}}" class="left">{{cat.category_name}}</option>
                    {% endfor %}
                </select>
                <label></label>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input placeholder="Recipe Title" id="recipe_name" name="recipe_name" type="text" class="validate">
                    <label for="recipe_name"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input placeholder="Author Name" id="author_name" name="author_name" type="text" class="validate">
                    <label for="author_name"></label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="Weblink" id="weblink" name="weblink" type="text" class="validate">
                    <label for="author_name"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input placeholder="Number of Servings" id="servings" name="servings" type="text" class="validate">
                    <label for="servings"></label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="Prep Time" id="prep_time" name="prep_time" type="text" class="validate">
                    <label for="prep_time"></label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="Cook Time" id="cook_time" name="cook_time" type="text" class="validate">
                    <label for="cook_time"></label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="rating" name="rating" class="icons ">
                        <option value="" disabled selected>Choose your Rating</option>
                        {% for rate in ratings %}
                        <option value="" data-icon="{{rate.r_image}}">{{rate.rated}}</option>
                        {% endfor %}
                    </select>
                    <label></label>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input placeholder="Net Carbs per serving" id="carbs" name="carbs" type="text" class="validate">
                        <label for="carbs"></label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input placeholder="Protein per serving" id="protein" name="protein" type="text"
                            class="validate">
                        <label for="protein"></label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input placeholder="Fat per serving" id="fat" name="fat" type="text" class="validate">
                        <label for="fat"></label>
                    </div>
                </div>
                <a class="waves-effect waves-light btn"><i class="material-icons left">arrow_forward</i>add
                    ingredients</a>
            </div>
            <!--Add ingredients section-->
            <div class="add_ingredients">
                <div class="row">
                    <h3>add ingredients:</h3>
                </div>
                <div id="adding-ingredients" class="row">
                    <div class="input-field col s2 ">
                        <input placeholder="1" id="amount" name="amount" type="text" onfocus="this.value=''">
                        <label for="amount">Amount</label>
                    </div>
                    <div class="input-field col s3">
                        <select id='measurement' onfocus="this.value=''">
                            <option value="" disabled selected></option>
                            <option>cup/s</option>
                            <option>g</option>
                            <option>ml</option>
                            <option>oz</option>
                            <option>tbsp</option>
                            <option>tsp</option>
                            <option></option>
                        </select>
                        <label>Measurement</label>
                    </div>
                    <div class="input-field col s6 ">
                        <input placeholder="Ingredient" id="ingredient" name="ingredient" type="text"
                            onfocus="this.value=''">
                        <label for="ingredient">Ingredient</label>
                    </div>

                    <div>
                        <a id="add-ing" class="btn-floating btn-medium waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div>
                    <a class="waves-effect waves-light btn"><i class="material-icons left">arrow_forward</i>Proceed
                        to Preparation Method</a>
                </div>
            </div>
    </div>
    <!--Add Method section-->
    <div class="add_method">
        <div class="row">
            <h3>add method:</h3>
        </div>
        <div class="row" id="add-method">
            <div class="input-field col s10 ">
                <input placeholder="Method" id="method" name="method" type="text" class="validate "
                    onfocus="this.value=''">
                <label for="method"></label>
            </div>
            <div>
                <a id='add-met' class="btn-floating btn-medium waves-effect waves-light red"><i
                        class="material-icons">add</i></a>
            </div>
        </div>
        <br>
        <br>
        <div style="height:0px;overflow:hidden">
            <input type="file" id="fileInput" name="fileInput" />
        </div>
        <a id='pic-upload' class="waves-effect waves-light btn-small"><i
                class="material-icons left">add_a_photo</i>Upload
            an image</a>

        <br>
        <br>
        <div id='review_recipe'>
            <a class="waves-effect waves-light btn"><i class="material-icons left">arrow_forward</i>Review
                Recipe</a>
        </div>
    </div>
    <!--Review Recipe section-->
    <div class="review">
        <div class="row">
            <h3>review recipe:</h3>
        </div>
        <div class="container" id="recipe-info">
            <h4><strong><u id="display-r-n"></u></strong></h4>
            <div class="row">
                <span>Number of servings: <span><u id="display-serv"></u></span></span>
                <span> prep time: <span><u id="display-prep"></u></span></span>
                <span> cook time: <span><u id="display-cook"></u></span></span>
            </div>
            <div class="row">
                <span>net carbs: <span><u id="display-carb"></u></span></span>
                <span> fat: <span><u id="display-fat"></u></span></span>
                <span> protein: <span><u id="display-pro"></u></span></span>
                <span>per serving</span>
                <span id="display-rating"></span>
            </div>
        </div>
        <br>
        <br>
        <div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit Recipe
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
</form>
</div>

{% endblock %}