{% extends 'base.html'%} {% block content %}
<div>
<br>
<br>
<h3>all recipes:</h3>
  <ul class="collection">
  {% for recipe in recipes %}
    <li class="collection-item avatar">
      <img src="{{url_for('file', filename=recipe['image'])}}" alt="recipe-image" class="circle">
      <span class="title"><strong><u>{{recipe.recipe_name}}</u></strong></span>
      <p>Category: {{recipe.category_name}} <br>
         Rating: {{recipe.rating}}
      </p>
      <a href="{{ url_for('recipe', recipe_id=recipe._id)}}" class="secondary-content"><i class="material-icons" id="pageview">pageview</i></a>
    </li>
    {% endfor %}    
  </ul>
</div>
{% endblock %}