{% extends 'base.html' %} {% block content %}
<!-- Edit form from review screen -->
<!--Review Recipe section-->
<form id="edit-form" action="{{url_for('update_recipe', recipe_id=recipes._id)}}" method="POST"
    enctype='multipart/form-data' class='col s12'>
    <div class="row">
        <div id="edit_review" class="visible">
            <h3>edit recipe:</h3>
            <div class="container" class="rec-review">
                <h4><strong><u id="display-r-n">{{recipes.recipe_name}}</u></strong></h4>
                <div class="row">
                    <div class="col s5">
                        <span><strong>author: </strong><span id="display-auth">{{recipes.author_name}}</span></span>
                    </div>
                    <div class="col s5">
                        <span><strong>weblink: </strong><span id="display-weblink">{{recipes.weblink}}</span></span>
                    </div>
                    <div class="col s2">
                        <a id="edit-info-btn" class="btn-floating btn-small red">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5">
                        <span><strong>serves: </strong><span id="display-serve">{{recipes.servings}}</span></span>
                    </div>
                    <div class="col s5">
                        <span><strong>difficulty: </strong><span id="display-rating">{{recipes.rating}}</span></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col s4">
                        <span><strong> prep time: </strong><span id="display-prep">{{recipes.prep_time}}<span>
                                    min</span></span></span>
                    </div>
                    <div class="col s4"> <span><strong> cook time: </strong><span
                                id="display-cook">{{recipes.cook_time}}<span></span>
                                min</span></span></span>
                    </div>
                    <div class="col s4"> <span><strong> total time: </strong><span id="display-total"><span>
                                    min</span></span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <span><strong>net carbs: </strong><span id="display-carb">{{recipes.carbs}}<span>
                                    g</span></span></span>
                    </div>
                    <div class="col s2">
                        <span><strong> fat: </strong><span id="display-fat">{{recipes.fat}}<span> g</span></span></span>
                    </div>
                    <div class="col s6">
                        <span><strong> protein: </strong><span id="display-pro">{{recipes.protein}}<span>
                                    g</span></span></span>
                        <span><strong> per serving</strong></span>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col s10 m3">
                        <div style="height:0px;overflow:hidden">
                            <input type="file" id="fileInput" name="fileInput" />
                        </div>
                        <img src="{{url_for('file', filename=recipes['image'])}}" id="edit_preview" width="150px"
                            height="150px">
                    </div>
                    <div class="col s2">
                        <a id="edit-img-btn" class="btn-floating btn-small red">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                    </div>
                    <div class="col s10 m5">
                        <h6><u>ingredients:</u></h6>
                        <div>
                            <ul id="display-ing">
                                {% for ingredient in recipes.ingredients %}
                                <li>
                                    <span>{{ingredient.amount}} {{ingredient.measurement}}
                                        {{ingredient.ingredient}}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col s2">
                        <a id="edit-ing-btn" class="btn-floating btn-small red">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <h6><u>method:</u></h6>
                <div class="row">
                    <div class="col s10">
                        <ol id="display-method">
                            {% for method in recipes.method %}
                            <li>{{ method }} </li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="col s2">
                        <a id="edit-met-btn" class="btn-floating btn-small red">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div>
                <button id='submitBtn' class="btn waves-effect waves-light" type="submit" name="action">Update
                    Recipe
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        <!--Edit info section -->

        <div id="edit_recipe" class="hidden">
            <div class="container">
                <h3>edit info</h3>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select id="category" name="category_name" class="icons ">
                            <option disabled selected></option>
                            {% for cat in categories %}
                            {% if cat.category_name == recipes.category_name %}
                            <option data-icon="{{cat.image}}" class="left" value="{{cat.category_name}}" selected>
                                {{cat.category_name}}</option>
                            {% else %}
                            <option data-icon="{{cat.image}}" class="left">{{cat.category_name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label>Category</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="recipe_name" name="recipe_name" type="text" value="{{recipes.recipe_name}}">
                            <label for="recipe_t_name">Recipe Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="author_name" name="author_name" type="text" class="validate"
                                value="{{recipes.author_name}}">
                            <label for="author_name">Author</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input value="{{recipes.weblink}}" id="weblink" name="weblink" type="text" class="validate">
                            <label for="weblink">Weblink</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input value="{{recipes.servings}}" id="servings" name="servings" type="text"
                                class="validate">
                            <label for="servings">Servings</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input value="{{recipes.prep_time}}" id="prep_time" name="prep_time" type="text"
                                class="validate">
                            <label for="prep_time">Prep Time</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input value="{{recipes.cook_time}}" id="cook_time" name="cook_time" type="text"
                                class="validate">
                            <label for="cook_time">Cook Time</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <select id="rating" name="rating" class="icons ">
                                <option></option>
                                {% for rate in ratings %}
                                {% if rate.rated == recipes.rating %}
                                <option data-icon="{{rate.r_image}}" value="{{rate.rated}}" selected>{{rate.rated}}
                                </option>
                                {% else %}
                                <option data-icon="{{rate.r_image}}">{{rate.rated}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label></label>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input value="{{recipes.carbs}}" id="carbs" name="carbs" type="text" class="validate">
                                <label for="carbs">Net Carbs</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input value="{{recipes.protein}}" id="protein" name="protein" type="text"
                                    class="validate">
                                <label for="protein">Protein</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input value="{{recipes.fat}}" id="fat" name="fat" type="text" class="validate">
                                <label for="fat">Fat</label>
                            </div>
                        </div>
                        <div class='review_recipe'>
                            <a class="waves-effect waves-light btn review"><i
                                    class="material-icons left">refresh</i>Review
                                Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit ingredients section-->
        <div id="edit_ingredients" class=" hidden">
            <div class="container">
                <div class="row">
                    <h3>edit ingredients:</h3>
                </div>
                <div>
                    <ul id="editing-ingredients"></ul>
                </div>
                <div class="row">
                    <div class="input-field col s2 ">
                        <input placeholder="1" id="amount" name="amount" type="text" onfocus="this.value=''">
                        <label for="amount">Amount</label>
                    </div>
                    <div class="input-field col s3">
                        <select id='measurement' name='measurement' onfocus="this.value=''">
                            <option value="" disabled selected></option>
                            <option>cup/s</option>
                            <option>g</option>
                            <option>lrg</option>
                            <option>lbs</option>
                            <option>med</option>
                            <option>ml</option>
                            <option>oz</option>
                            <option>sml</option>
                            <option>tbsp</option>
                            <option>tsp</option>
                            <option></option>
                        </select>
                        <label>Measurement</label>
                    </div>
                    <div class="input-field col s6 ">
                        <input placeholder="Ingredient" id="ingredient" name="ingredient" type="text"
                            onfocus="this.value=''">
                        <label for="ingredient">Ingredient</label>
                    </div>
                    <div>
                        <a id="add-ing" class="btn-floating btn-medium waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class='review_recipe'>
                    <a class="waves-effect waves-light btn review"><i class="material-icons left">refresh</i>Review
                        Recipe</a>
                </div>
            </div>
        </div>
        <!--Add Method section-->
        <div id="edit_method" class="hidden">
            <div class="container">
                <div class="row">
                    <h3>add method:</h3>
                </div>
                <div>
                    <ol id="adding-method"></ol>
                </div>
                <div class="row">
                    <div class="input-field col s10 ">
                        <input placeholder="Method" id="method" name="method" type="text" class="validate "
                            onfocus="this.value=''">
                        <label for="method">
                        </label>
                    </div>
                    <div>
                        <a id='add-met' class="btn-floating btn-medium waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                </div>
                <div class='review_recipe'>
                    <a class="waves-effect waves-light btn review"><i class="material-icons left">refresh</i>Review
                        Recipe</a>
                </div>
            </div>
        </div>
        <!---upload new image -->
        <div id="new-image" class='hidden'>
            <div style="height:0px;overflow:hidden">
                <input type="file" id="fileInput" name="fileInput" />
            </div>
            <img src="{{url_for('file', filename=recipes['image'])}}" id="display-img" width="150px" height="150px">
            <br>
            <a id='pic-upload' class="waves-effect waves-light btn-small"><i
                    class="material-icons left">add_a_photo</i>Upload
                an image</a>
                <br>
                <br>
                <div class='review_recipe'>
            <a class="waves-effect waves-light btn review"><i class="material-icons left">refresh</i>Review
                Recipe</a>
        </div>
        </div>
        
    </div>
</form>
<script src="{{url_for('static', filename='js/edit.js')}}" type='text/javascript'>
</script>

{% endblock %}