{% extends 'base.html'%} {% block content %}

<div class="row">
<h3>{{recipes.category_name}}</h3>
</div>
  <div class="row">

  {% for recipe in recipes %}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
         <img src="{{url_for('file', filename=recipe['image'])}}" width="250px" height="250x" >
          <span class="card-title"></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>{{recipe.recipe_name}}- {{recipe.category_name}}</p>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>

{% endblock %}